.registration {
   display: flex;
   flex-direction: column;
   width: 500px;
   align-items: center;
   background-color: white;
   border-radius: 20px;
   padding: 30px;

   &__header {}

   font-size: 30px;
   font-weight: 700px;
}

input {
   margin: 10px 20px;
}